<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_list_detail.name}}</h1>
            <p><a href={% url "todo_list_update" todo_list_detail.id %}>Edit</a></p>

            <p><a href={% url "todo_list_delete" todo_list_detail.id %}>Delete</a></p>

            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
                {% for task in todo_list_tasks %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' task.id %}">{{task.task}}</a></td>
                        {% comment %} <td><a href="{% url 'todo_list_details' list.id %}">{{task.task}}</a></td> {% endcomment %}
                        <td>{{task.due_date}}</td>

                {% endfor %}

        </div>
    </main>
</body>
</html>
